./ReactNative-JamWithUs/node_modules
/ReactNative-JamWithUs/node_modules
ReactNative-JamWithUs/node_modules

./ReactNative-JamWithUs/.expo/packager-info.json
/ReactNative-JamWithUs/.expo/packager-info.json
ReactNative-JamWithUs/.expo/packager-info.json

./ReactNative-JamWithUs/.expo/settings.json
/ReactNative-JamWithUs/.expo/settings.json
ReactNative-JamWithUs/.expo/settings.json

./JamWithUs/.gradle
/JamWithUs/.gradle
JamWithUs/.gradle

./ReactNative-JamWithUs/.expo
/ReactNative-JamWithUs/.expo
ReactNative-JamWithUs/.expo

.expo
